.amarillo {
    color: yellow;
}
nav{
    background-color: grey;
}
aside{
    float: right;
}
.morado {
    color: hotpink;
}
footer{
    background-color: yellow;
}
iframe{
    text-align: center;
}